<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="MY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>my_application.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>my_application.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="MY_FILE" />
    </root>
</configuration>
