<!DOCTYPE html>
<html>
<head>
    <title>Simple STOMP Test</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.5/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<h2>Simple STOMP Test</h2>

<label for="address">Address:</label><br>
<input type="text" id="address" name="address" value="http://52.79.162.201:8080/ws-stomp"><br>
<button id="connect">Connect</button>
<button id="disconnect" disabled="true">Disconnect</button><br>

<label for="subscription">Subscription:</label><br>
<input type="text" id="subscription" name="subscription" value="/sub/chat/room/test"><br>

<label for="type">Type:</label><br>
<select id="type" name="type">
    <option value="ENTER">ENTER</option>
    <option value="TALK">TALK</option>
    <option value="LEAVE">LEAVE</option>
    <option value="KICK">KICK</option>
</select><br>

<label for="roomId">Room ID:</label><br>
<input type="text" id="roomId" name="roomId" value="test"><br>

<label for="sender">Sender:</label><br>
<input type="text" id="sender" name="sender"><br>

<label for="message">Message:</label><br>
<input type="text" id="message" name="message"><br>
<button id="send">Send</button>
<div id="messages"></div>
<script type="text/javascript">
    var socket;
    var stompClient;

    document.getElementById('connect').addEventListener('click', function() {
        var address = document.getElementById('address').value;
        var subscription = document.getElementById('subscription').value;
        socket = new SockJS(address);
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe(subscription, function(message) { // use the value from the 'subscription' field
                console.log(message.body);

                var messagesDiv = document.getElementById('messages');
                var messageDiv = document.createElement('div');

                // Here, you might need to parse the message.body depending on the format of your messages
                messageDiv.textContent = message.body;
                messagesDiv.appendChild(messageDiv);
            });
            document.getElementById('connect').disabled = true;
            document.getElementById('disconnect').disabled = false;
        });
    });

    document.getElementById('disconnect').addEventListener('click', function() {
        if (stompClient !== null) {
            stompClient.disconnect();
        }
        console.log("Disconnected");
        document.getElementById('connect').disabled = false;
        document.getElementById('disconnect').disabled = true;
    });

    document.getElementById('send').addEventListener('click', function() {
        var type = document.getElementById('type').value;
        var roomId = document.getElementById('roomId').value;
        var sender = document.getElementById('sender').value;
        var message = document.getElementById('message').value;

        var chatMessage = {
            'type': type,
            'roomId': roomId,
            'sender': sender,
            'message': message
        };
        stompClient.send("/pub/chat/message", {}, JSON.stringify(chatMessage));
    });

</script>

</body>
</html>
